name: Delivery

on:
  pull_request:
    types: [synchronize, opened, reopened]
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  scan-image:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build container and export to local Docker
        uses: docker/build-push-action@v6
        with:
          cache-from: |
            type=gha,scope=${{ github.repository }}-main-linux/amd64
            type=gha,scope=${{ github.repository }}-${{ github.ref_name }}-linux/amd64
          cache-to: type=gha,mode=max,scope=${{ github.repository }}-${{ github.ref_name }}-linux/amd64
          context: .
          file: .docker/Dockerfile
          load: true
          tags: local/${{ github.repository }}:scan

      - name: Scan Image
        uses: anchore/scan-action@v7
        id: scan
        with:
          image: local/${{ github.repository }}:scan
          only-fixed: true
          severity-cutoff: critical
          output-format: sarif

      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@v4
        if: ${{ !cancelled() }}
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}

  publish-docker-image:
    runs-on: ${{ matrix.platform == 'linux/amd64' && 'ubuntu-latest' || matrix.platform == 'linux/arm64' && 'ubuntu-24.04-arm' }}
    needs: scan-image
    if: ${{ github.event_name != 'pull_request' }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check whether this event is the HEAD of main
        continue-on-error: true
        id: is-head-main
        run: git rev-parse HEAD | grep -x ${{ github.sha }}
        shell: bash

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{major}}.{{minor}}.{{patch}}
            type=edge,enable=${{ steps.is-head-main.outcome == 'success' }}
            type=ref,event=branch,enable=${{ github.event_name == 'workflow_dispatch' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container and push to GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha,scope=${{ github.repository }}-${{ github.ref_name }}-${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ github.repository }}-${{ github.ref_name }}-${{ matrix.platform }}
          file: .docker/Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
